body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    background-color: rgb(237, 217, 216);
    color: rgb(219, 126, 146);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 178, 192);
    padding: 15px 30px;
}
.logo{
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link a:hover {
    color: rgb(250, 200, 200);
}

.hero{
    text-align: center;
    padding: 60px 20px;
    background-color: rgb(255, 188, 188);
}
footer {
    background-color: rgb(248, 223, 231);
    color: white;
    text-align: center;
    padding: 15px;
}

.menu{
    padding: 40px 20px;
    text-align: center;
}
.menu-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card{
    background-color: white;
    border-radius: 10px;
    width: 200px:
    padding: 15px;
    box-shadow: 0 4px 6px  rgba(0,0,0,0.3);
}
.menu-card {
    width: 100%;
    border-radius: 10px;
}
.menu-card h3{
    margin: 10px 0 5px 0;
}
.menu-card p {
    color: rgb(243, 159, 211);
    font-weight: bold;
}